<!-- Building Modal -->

<div class="modal fade" id="<%= building.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    	</button>
        <h4 class="modal-title" id="myModalLabel"><%= building.name %></h4>
      </div>
      <div class="modal-body">



    <table class="table">
        <tbody>
          <tr>
            <td>  <!-- Floor and Summary Nav Bar -->
              <ul class="nav nav-pills nav-stacked" role="tablist">
                  <% for (var i = 0; i < building.floorplans.length; i++) { %> <!-- TODO: allow negative floors -->
                  	<% var num = building.floorplans[i].number %>
                      <li role="presentation"><a href="#" onclick='showFloor("<%= building._id %>", "<%= num %>",<%= building.floorplans.length %>)'>
                      	<% if (num == 0) { %>
                      		Summary
                      	<% } else { %>
                      		Floor <%= num %></a>
                      	<% } %>
                      	</a></li>
                  <% } %>
              </ul>
            </td>
            <td> <!-- Floor Plan -->
              	<img id="floorImage" src="/image/building/<%= building._id %>" class="floorplan">
            </td>
          </tr>
        </tbody>
      </table>



<!-- Detailed Descriptions of Floor Plans -->
    <table class="table">
        <tbody>
          	<% for (var i = 0; i < building.floorplans.length; i++) { %>
          		<% var num = building.floorplans[i].number %>
			<tr>
				<div id="floorText_floor<%= building._id %><%= num %>" class="floortext <% if (num == 0) { %>show <% } else { %>hidden <% } %>">
					<h3>
						<% if (num == 0) { %>
							Summary
						<% } else { %>
							Floor <%= num %>
						<% } %>
					</h3>
					<ul>
						<li><%= building.floorplans[i].description %></li>
					</ul>
				</div>
			</tr>
            <% } %>

            <!-- ??? need to make class not hidden for the [0] description -->

        </tbody>
      </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


