<!-- Building Modal -->

<div class="modal fade" id="<%= building.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    	</button>
        <h4 class="modal-title" id="myModalLabel"><%= building.name %></h4>
      </div>
      <div class="modal-body">


<% var allFloors = [] %>
<% for (var i = 0; i < building.floorplans.length; i++) { %>
    <% allFloors.push(building.floorplans[i].number); %>
<% } %>


    <table class="table">
        <tbody>
          <tr>
            <td>  <!-- Floor and Summary Nav Bar -->
              <ul class="nav nav-pills nav-stacked" role="tablist">
                  <% for (var i = 0; i < building.floorplans.length; i++) { %> <!-- TODO: allow negative floors -->
                  	<% var num = building.floorplans[i].number %>
                      <li role="presentation"><a href="#" onclick='showFloor("<%= building._id %>","<%= num %>",<%= allFloors %>)'>
                      	<% if (num == 0) { %>
                      		Summary
                      	<% } else { %>
                      		Floor <%= num %></a>
                      	<% } %>
                      	</a></li>
                  <% } %>
              </ul>
            </td>
            <td>
            	<% for (var i = 0; i < building.floorplans.length; i++) { %>
            		<% var num = building.floorplans[i].number %>
            		<span id="floorImage_floor<%= building._id %><%= num %>" class="<% if (num == 0) { %>show <% } else { %>hidden <% } %>">
            			<!--<img src="/image/floorplan/<%= building.floorplans[i]._id %>" width="400px" height="300px" />-->
                        <img src="data:image/jpeg;<%= building.floorplans[i].image.data %>" width="400px" height="300px" onerror="this.style.visibility='hidden'" /><!-- data:image/jpg;base64, -->
            		</span>
            	<% } %>
            </td>
          </tr>
        </tbody>
      </table>


<!-- Detailed Descriptions of Floor Plans -->
    <table class="table">
        <tbody>
          	<% for (var i = 0; i < building.floorplans.length; i++) { %>
          		<% var num = building.floorplans[i].number %>
			<tr>
				<div id="floorText_floor<%= building._id %><%= num %>" class="floortext <% if (num == 0) { %>show <% } else { %>hidden <% } %>">
					<h3>
						<% if (num == 0) { %>
							Summary
						<% } else { %>
							Floor <%= num %>
						<% } %>
					</h3>
					<ul>
						<%- building.floorplans[i].description %>
					</ul>
					<a href="/buildings/floorplans/edit/<%= building.floorplans[i]._id %>/<%= building._id %>">Edit floor</a>
				</div>
			</tr>
            <% } %>
        </tbody>
      </table>


      </div>
      <div class="modal-footer">
        <div style="float:right"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>
      <div style="float:left">
      	<a href="/buildings/addfloor/<%= building._id %>">Add a floor</a> | 
      	<a href="/buildings/edit/<%= building._id %>">Edit building</a>
      </div>
    </div>
  </div>
</div>


